
<h3 id="about"></h3>
<hr class="yellow">
<% @about.each do |about| %>
<%= link_to "about", about_path %>
<title>Tom Yotwongjai</title>
<meta name="description" content="Tom Yotwongjai is an avid learner
and a full-time web developer.
He has worked in an agile team-project and specialize in ecommerce.">
</head>
<% end %>
